.text{
    background-color: gray;
   
    height:1000px;
    margin:0,auto;
    
}  
.text-center{
    margin-top: 50px;
}
.text {
    display: flex;
    flex-direction: column;
  }
  
  .text h3 {
    margin-top: 15px;
    align-self: center; /* Optionnel si vous utilisez flexbox */
  }
.text-center{
    margin-bottom:50px;
}
.li{
    color: black;
}
.nav-item.d-md-none.d-block.text-center {
    margin-bottom: 0px; /* Adjust the value to control spacing */
    border: 2px solid rgb(202, 193, 193);
}



  